.text {
  font-size: 20px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.7em;
}

.imgContainer,
.img {
  width: 100%;
}

.card {
    padding: 20px 15px !important;
    background-color: #e0bd85;
    box-shadow: -1px -1px 5px 2px #ffffffc7;
    border-radius: 5px;
}

.iconBox{
    padding: 10px;
    background-color: #000000b4;
    border-radius: 100%;
    width: 47px;
    height: 47px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;}

.cardText {
  text-align: center;
  color: #000000d5;
  font-size: 18px;
}
