.main {
  min-height: 61vh;
}
.rightdiv {
  background-color: #e7c68e;
  color: black;
  margin: 0 5rem;
  /* margin-top: -2rem; */
  padding: 0 1rem;
}

.changePwdText {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: -1rem;
  padding-top: 2rem;
}

.textbox {
  border: 1px solid black;
  margin-top: -0.7rem;
}

.changePwd {
  width: 100%;
  background-color: black;
  color: #e7c68e;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.changePwd:hover {
  cursor: pointer;
  color: white;
}

.messageErr {
  color: #dd0f0f;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .rightdiv {
    margin: 0rem 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .rightdiv {
    margin: 0rem;
  }

  .melanated {
    margin-top: 0rem;
    padding-bottom: 1rem;
  }
}
