.oneistofour{
    background-color: #E7C68E ;
    color: black;
    padding: 0.2rem 0.8rem !important;
    display: inline;
    text-align: center;
}
.topdiv{
    text-align: center;
    padding: 0.5rem 0 !important;
}
.one{
    background: linear-gradient(60deg,#E7C68E 0%, #9D7A54 100%) ;
    color: black;
    padding: 0rem 1rem !important;
    border-radius: 5px;
    display: inline;
    text-align: center;
}
.div{
    text-align: center;
    padding: 0rem 0 !important;
    margin-left: .4rem !important;;
}
@media only screen and (max-width: 900px) {
   
    .one{
     
        padding: 0rem .5rem !important;
      
    }
    .div{
        text-align: center;
        padding: 0rem 0 !important;
        margin-left: .5rem !important;
    }
    }