.ad{
    width: 100%;
}
.ad:hover{
    cursor: pointer;
}

.seemore{
    text-align: center;
    color: #E7C68E;
    padding: 1rem;
    text-decoration: underline;
}
.seemore:hover{
    cursor: pointer;
    color: white;
}
.card{
   /* border-top: 2px solid #30251a; */
   padding: 1.5rem 0;
   padding-top: 0px;
}